# Creating Series

In [1]:
import pandas as pd 
import numpy as np 

arr = np.array([1,2,3,4,5])
# print(pd.Series(arr))

# or manuallly create from own end 
print(pd.Series(index=[1,2,3],data=["first","second","third"]))

#through dictionary 
dict ={1:'osteps',2:"1steps",3:"nosteps"}
# print(pd.Series(dict))

1     first
2    second
3     third
dtype: object

# Repeat + Reset Functiions

In [1]:
# print(pd.Series(4).repeat(3).reset_index())


s = (pd.Series([10,20]).repeat([2,3]).reset_index(drop=True))
print(s[0])
print(s[1:3])

print("*"*20)

NameError: name 'pd' is not defined

# Aggregate

In [183]:
# print(pd.Series(4).repeat(3).reset_index())


st = (pd.Series([10,20]).repeat([2,3]).reset_index(drop=True))
print(st)
print("*"*20)
st.agg([min,max,sum])

0    10
1    10
2    20
3    20
4    20
dtype: int64
********************

C:\Users\aspha\AppData\Local\Temp\ipykernel_4600\4074911641.py:7: FutureWarning: The provided callable <built-in function min> is currently using Series.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  st.agg([min,max,sum])
C:\Users\aspha\AppData\Local\Temp\ipykernel_4600\4074911641.py:7: FutureWarning: The provided callable <built-in function max> is currently using Series.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  st.agg([min,max,sum])
C:\Users\aspha\AppData\Local\Temp\ipykernel_4600\4074911641.py:7: FutureWarning: The provided callable <built-in function sum> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  st.agg([min,max,sum])

min    10
max    20
sum    80
dtype: int64

# Absolute function

In [184]:
st = (pd.Series([10,20,-1,-2,-10]))
print(st)
print("*"*20)
st.abs()

0    10
1    20
2    -1
3    -2
4   -10
dtype: int64
********************

0    10
1    20
2     1
3     2
4    10
dtype: int64

# Appending Series

In [5]:
# sr1 = pd.Series([1,-2,3])
# sr2 = pd.Series([1,2,3])
# sr3 = sr2.append(sr1)
import pandas as pd 
import numpy as np

sr1 = pd.Series([1,-2,3])
sr2 = pd.Series([1,2,3])
sr3 = np.concatenate((sr1,sr2))
sr3 = pd.Series(sr3)
sr3

0    1
1   -2
2    3
3    1
4    2
5    3
dtype: int64

# Astype

In [31]:
sr1
type(sr1)

sr1.astype(float)

0    1.0
1   -2.0
2    3.0
dtype: float64

# Between

In [32]:
st = (pd.Series([10,20,-1,-2,-10,6,8,9,13,14]))
print(st)
print("*"*20)

st.between(10,20)

0    10
1    20
2    -1
3    -2
4   -10
5     6
6     8
7     9
8    13
9    14
dtype: int64
********************

0     True
1     True
2    False
3    False
4    False
5    False
6    False
7    False
8     True
9     True
dtype: bool

# String functions

In [ ]:
st = (pd.Series(["Eshant Das" , "Data Science" , "Geeks for Geeks" ]))
print(st)
print("*"*20)


# all string functions available here 

#upper case 
print(st.str.upper())
print("*"*20)
#title case 
print(st.str.title())
print("*"*20)
#length
for i in st:
    print(len(i))

print("*"*20)

print(st.str.split())
print("*"*20)
print(st.str.split()[0])

print("*"*20)
print(st.str.contains('Das'))
# similarly for .replace function 

print("*"*20)
print(st.str.count('Das'))

0         Eshant Das
1       Data Science
2    Geeks for Geeks
dtype: object
********************
0         ESHANT DAS
1       DATA SCIENCE
2    GEEKS FOR GEEKS
dtype: object
********************
0         Eshant Das
1       Data Science
2    Geeks For Geeks
dtype: object
********************
10
12
15
********************
0          [Eshant, Das]
1        [Data, Science]
2    [Geeks, for, Geeks]
dtype: object
********************
['Eshant', 'Das']
********************
0     True
1    False
2    False
dtype: bool
********************
0    1
1    0
2    0
dtype: int64

# convertin a series to list

In [44]:
print(st)
print("*"*30)
print(st.tolist())

0         Eshant Das
1       Data Science
2    Geeks for Geeks
dtype: object
******************************
['Eshant Das', 'Data Science', 'Geeks for Geeks']

# DataFrame (2d instead of 1d like series)

In [ ]:
sr1 = pd.Series(["dsaf","asdfasd","adsf"])
print(sr1)
print("*"*30)
print(pd.DataFrame(sr1))

print("*"*30)
#               values          rowname
sr1 = pd.Series(data=["Geek","one"],index= ["secondgeek",'second'])
print(sr1)
print("*"*30)
print(pd.DataFrame(sr1))


print("*"*30)


data = {'name':['Tom', 'nick', 'krish', 'jack'], 'age':[20, 21, 19, 18]}
print(pd.DataFrame(data))


print("*"*30)
data = { 'Name'         :['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age'          :[27, 24, 22, 32],
         'Address'      :['Delhi', 'Kanpur', 'Allahabad', 'Kannauj'],
         'Qualification':['Msc', 'MA', 'MCA', 'Phd']}
df = pd.DataFrame(data)
df[['Name', 'Qualification']]

0       dsaf
1    asdfasd
2       adsf
dtype: object
******************************
         0
0     dsaf
1  asdfasd
2     adsf
******************************
secondgeek    Geek
second         one
dtype: object
******************************
               0
secondgeek  Geek
second       one
******************************
    name  age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18
******************************

     Name Qualification
0     Jai           Msc
1  Princi            MA
2  Gaurav           MCA
3    Anuj           Phd

# Slicing dataFrame

In [65]:

data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30)


#loc function
print(df.loc[0:2,'three':'four'])


print("*"*30)
#iloc function 
#This method does not include the last element of the range passed in it unlike loc(). 
 
print(df.iloc[1:2,1:-1])

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   three  four
0    100  1000
1    200  2000
2    300  3000
******************************
   two  three
1   20    200

# Slciing using data frames

In [ ]:
print(df)
print("*"*30)
print(df[df['three'] > 200])

print("*"*30)
print(df.loc[df['two'] > 20],['three','four'])



print("*"*30)
print(df['two'] > 10 )

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   one  two  three  four
2    3   30    300  3000
3    4   40    400  4000
******************************
   one  two  three  four
2    3   30    300  3000
3    4   40    400  4000 ['three', 'four']
******************************
0    False
1     True
2     True
3     True
Name: two, dtype: bool

# add a new colm

In [76]:
print(df)

l = ['k','j','h','g']
df['five'] = l 

print("*"*30)
print(df )

print("*"*30)
df['seven'] = df['one'] * 100

print(df)

   one  two  three  four five  seven
0    1   10    100  1000    k     10
1    2   20    200  2000    j     20
2    3   30    300  3000    h     30
3    4   40    400  4000    g     40
******************************
   one  two  three  four five  seven
0    1   10    100  1000    k     10
1    2   20    200  2000    j     20
2    3   30    300  3000    h     30
3    4   40    400  4000    g     40
******************************
   one  two  three  four five  seven
0    1   10    100  1000    k    100
1    2   20    200  2000    j    200
2    3   30    300  3000    h    300
3    4   40    400  4000    g    400

 # Delete

In [77]:
print(df)
print("*"*30)
del df['seven']
# df.pop('seven')
print(df)

   one  two  three  four five  seven
0    1   10    100  1000    k    100
1    2   20    200  2000    j    200
2    3   30    300  3000    h    300
3    4   40    400  4000    g    400
******************************
   one  two  three  four five
0    1   10    100  1000    k
1    2   20    200  2000    j
2    3   30    300  3000    h
3    4   40    400  4000    g

# Add new rows

In [83]:
 
# Create the DataFrames
df1 = pd.DataFrame([[1, 2], [3, 4]], columns=['a', 'b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns=['a', 'b'])

# Print the DataFrames before appending
print("df1:")
print(df1)
print("*" * 30)

print("df2:")
print(df2)
print("*" * 30)

# Append df2 to df1 and reset index
result = pd.concat([df1, df2], ignore_index=True)
# Print the result
print("After appending and resetting index:")
print(result)

df1:
   a  b
0  1  2
1  3  4
******************************
df2:
   a  b
0  5  6
1  7  8
******************************
After appending and resetting index:
   a  b
0  1  2
1  3  4
2  5  6
3  7  8

# Drop function

In [88]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30)

# axis - 0 for rows 
df.drop([0,1],axis=0,inplace= True)

print(df)

print("Transpose of a Matrix")

print(df.T)

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   one  two  three  four
2    3   30    300  3000
3    4   40    400  4000
Transpose of a Matrix
          2     3
one       3     4
two      30    40
three   300   400
four   3000  4000

# More functionalities

In [95]:
print(df.axes)
print("*"*10)
print(df.ndim)
print("*"*10)
print(df.dtypes)
print("*"*10)
print(df.shape)
print("*"*10)
print(df.head()) # prints only the first 5 rows by default
print("*"*10)
print(df.tail()) # prints only the last 5 rows by default
print("*"*10)

print(df.empty)

[RangeIndex(start=2, stop=4, step=1), Index(['one', 'two', 'three', 'four'], dtype='object')]
**********
2
**********
one      int64
two      int64
three    int64
four     int64
dtype: object
**********
(2, 4)
**********
   one  two  three  four
2    3   30    300  3000
3    4   40    400  4000
**********
   one  two  three  four
2    3   30    300  3000
3    4   40    400  4000
**********
False

# Mathematical Functions

In [105]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30)

print(df.sum())
print("*"*30) 

print(df.mean()) # of col 
print("*"*30)

print(df.mode()) 
print("*"*30)


print(df['one'].mean())
print("*"*30)


print(df['one'].min())
print("*"*30)

print(df['one'].max())
print("*"*30)

print(df['one'].var())
print("*"*30)

print(df['one'].std())
print("*"*30)

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
one         10
two        100
three     1000
four     10000
dtype: int64
******************************
one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64
******************************
   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
2.5
******************************
1
******************************
4
******************************
1.6666666666666667
******************************
1.2909944487358056
******************************

# Describe Function

In [116]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30)
print(df.describe())
print("*"*30)

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
            one        two       three         four
count  4.000000   4.000000    4.000000     4.000000
mean   2.500000  25.000000  250.000000  2500.000000
std    1.290994  12.909944  129.099445  1290.994449
min    1.000000  10.000000  100.000000  1000.000000
25%    1.750000  17.500000  175.000000  1750.000000
50%    2.500000  25.000000  250.000000  2500.000000
75%    3.250000  32.500000  325.000000  3250.000000
max    4.000000  40.000000  400.000000  4000.000000
******************************

# Pipe Function

In [121]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30) 

def add_func(i,j) :
    return i+j

# by default it will take value as one arg ,pass other one
print(df.pipe(add_func,10))
print("*"*30)
 
# to find the mean square 
#in pippe function the value passes by default 

def mean_(col):
    return col.mean()

def square(i):
    return i ** 2

df.pipe(mean_).pipe(square)

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   one  two  three  four
0   11   20    110  1010
1   12   30    210  2010
2   13   40    310  3010
3   14   50    410  4010
******************************

one            6.25
two          625.00
three      62500.00
four     6250000.00
dtype: float64

# Apply Function

In [129]:
import numpy as np
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30) 

print(df.apply(np.mean)) 
print("*"*30) 

print( df.apply(lambda x : x.max() - x.min()))

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
one         2.5
two        25.0
three     250.0
four     2500.0
dtype: float64
******************************
one         3
two        30
three     300
four     3000
dtype: int64

# apply map function

In [134]:
# difference is that apply can be used for row or cloumn wise too 
#  but apply map on all values 
 
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30) 

print(df.applymap(lambda x : x+999))

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
    one   two  three  four
0  1000  1009   1099  1999
1  1001  1019   1199  2999
2  1002  1029   1299  3999
3  1003  1039   1399  4999

C:\Users\aspha\AppData\Local\Temp\ipykernel_4600\8178636.py:13: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  print(df.applymap(lambda x : x+999))

In [137]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30)

# applied to each colm 
print(df.apply(lambda x : x.mean(),axis=1)) # all rows

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
0     277.75
1     555.50
2     833.25
3    1111.00
dtype: float64

# Reindex + ReNaming function

In [ ]:
data = {'one'   : pd.Series([1, 2, 3, 4]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30)

# by default rows are selected
print(df.reindex( [1,0,2,3]))

# columns 
print(df.reindex(columns= ["two","one","three","four" ]))
 

print("*"*30)


print("Renaming cols ")

print(df.rename(columns={"one":"ONE" , "two":"TWO"}))

   one  two  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000
******************************
   one  two  three  four
1    2   20    200  2000
0    1   10    100  1000
2    3   30    300  3000
3    4   40    400  4000
   two  one  three  four
0   10    1    100  1000
1   20    2    200  2000
2   30    3    300  3000
3   40    4    400  4000
******************************
Renaming cols
   ONE  TWO  three  four
0    1   10    100  1000
1    2   20    200  2000
2    3   30    300  3000
3    4   40    400  4000

# Sorting in pandas dataframe

In [152]:
data = {'one'   : pd.Series([19, 27, 53, 34]),
        'two'   : pd.Series([10, 20, 30, 40]),
        'three' : pd.Series([100, 200, 300, 400]),
        'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)
print(df)
print("*"*30)


print(df.sort_values(by='one',ascending=False,kind='mergesort'))

   one  two  three  four
0   19   10    100  1000
1   27   20    200  2000
2   53   30    300  3000
3   34   40    400  4000
******************************
   one  two  three  four
2   53   30    300  3000
3   34   40    400  4000
1   27   20    200  2000
0   19   10    100  1000

# Group Functioncs

In [176]:
cricket = {'Team'   : ['India', 'India', 'Australia', 'Australia', 'SA', 'SA', 'SA', 'SA', 'NZ', 'NZ', 'NZ', 'India'],
           'Rank'   : [2, 3, 1,2, 3,4 ,1 ,1,2 , 4,1,2],
           'Year'   : [2014,2015,2014,2015,2014,2015,2016,2017,2016,2014,2015,2017],
           'Points' : [876,801,891,815,776,784,834,824,758,691,883,782]}

df = pd.DataFrame(cricket)
print(df)
print("*"*30)


print(df.groupby('Team').groups) # it will group all by params 


print("*"*30)

#  now searching based on groups 
print(df.groupby(['Team','Year']).get_group(('Australia',2014)))


print("*"*30)

print(df.groupby('Team'))
print("*"*30)

print(df.groupby('Team').sum()['Points'])
print("*"*30)

# sorting based on points 
print(df.sort_values(by='Team', ascending=True))
print("*"*30)

groups = df.groupby("Team")
print(groups['Points'].agg([np.sum,np.mean]))

print("*"*30)

         Team  Rank  Year  Points
0       India     2  2014     876
1       India     3  2015     801
2   Australia     1  2014     891
3   Australia     2  2015     815
4          SA     3  2014     776
5          SA     4  2015     784
6          SA     1  2016     834
7          SA     1  2017     824
8          NZ     2  2016     758
9          NZ     4  2014     691
10         NZ     1  2015     883
11      India     2  2017     782
******************************
{'Australia': [2, 3], 'India': [0, 1, 11], 'NZ': [8, 9, 10], 'SA': [4, 5, 6, 7]}
******************************
        Team  Rank  Year  Points
2  Australia     1  2014     891
******************************
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000182F9B0BD70>
******************************
Team
Australia    1706
India        2459
NZ           2332
SA           3218
Name: Points, dtype: int64
******************************
         Team  Rank  Year  Points
2   Australia     1  2014     891
3   Australia     2  2015     815
0       India     2  2014     876
1       India     3  2015     801
11      India     2  2017     782
8          NZ     2  2016     758
9          NZ     4  2014     691
10         NZ     1  2015     883
4          SA     3  2014     776
5          SA     4  2015     784
6          SA     1  2016     834
7          SA     1  2017     824
******************************
            sum        mean
Team
Australia  1706  853.000000
India      2459  819.666667
NZ         2332  777.333333
SA         3218  804.500000
******************************

C:\Users\aspha\AppData\Local\Temp\ipykernel_4600\274273043.py:33: FutureWarning: The provided callable <function sum at 0x00000182F6F3CE00> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print(groups['Points'].agg([np.sum,np.mean]))
C:\Users\aspha\AppData\Local\Temp\ipykernel_4600\274273043.py:33: FutureWarning: The provided callable <function mean at 0x00000182F6F3E200> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  print(groups['Points'].agg([np.sum,np.mean]))

In [179]:
print(df)
print("*"*30)

print(df.groupby("Team").filter(lambda x: len(x) ==4))

         Team  Rank  Year  Points
0       India     2  2014     876
1       India     3  2015     801
2   Australia     1  2014     891
3   Australia     2  2015     815
4          SA     3  2014     776
5          SA     4  2015     784
6          SA     1  2016     834
7          SA     1  2017     824
8          NZ     2  2016     758
9          NZ     4  2014     691
10         NZ     1  2015     883
11      India     2  2017     782
******************************
  Team  Rank  Year  Points
4   SA     3  2014     776
5   SA     4  2015     784
6   SA     1  2016     834
7   SA     1  2017     824

# Working with .CSV Files

In [187]:
df = pd.read_csv('Football.csv')
print(df.head())

  Country   League   Club       Player Names  Matches_Played  Substitution   \
0   Spain  La Liga  (BET)    Juanmi Callejon              19             16
1   Spain  La Liga  (BAR)  Antoine Griezmann              36              0
2   Spain  La Liga  (ATL)        Luis Suarez              34              1
3   Spain  La Liga  (CAR)       Ruben Castro              32              3
4   Spain  La Liga  (VAL)      Kevin Gameiro              21             10

   Mins  Goals     xG  xG Per Avg Match  Shots  OnTarget  Shots Per Avg Match  \
0  1849     11   6.62              0.34     48        20                 2.47
1  3129     16  11.86              0.36     88        41                 2.67
2  2940     28  23.21              0.75    120        57                 3.88
3  2842     13  14.06              0.47    117        42                 3.91
4  1745     13  10.65              0.58     50        23                 2.72

   On Target Per Avg Match  Year
0                     1.03  2016
1                     1.24  2016
2                     1.84  2016
3                     1.40  2016
4                     1.25  2016

In [188]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 660 entries, 0 to 659
Data columns (total 15 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Country                  660 non-null    object
 1   League                   660 non-null    object
 2   Club                     626 non-null    object
 3   Player Names             660 non-null    object
 4   Matches_Played           660 non-null    int64
 5   Substitution             660 non-null    int64
 6   Mins                     660 non-null    int64
 7   Goals                    660 non-null    int64
 8   xG                       660 non-null    float64
 9   xG Per Avg Match         660 non-null    float64
 10  Shots                    660 non-null    int64
 11  OnTarget                 660 non-null    int64
 12  Shots Per Avg Match      660 non-null    float64
 13  On Target Per Avg Match  660 non-null    float64
 14  Year                     660 non-null    int64
dtypes: float64(4), int64(7), object(4)
memory usage: 77.5+ KB
None

In [189]:
print(df.isnull())

     Country  League   Club  Player Names  Matches_Played  Substitution   \
0      False   False  False         False           False          False
1      False   False  False         False           False          False
2      False   False  False         False           False          False
3      False   False  False         False           False          False
4      False   False  False         False           False          False
..       ...     ...    ...           ...             ...            ...
655    False   False  False         False           False          False
656    False   False  False         False           False          False
657    False   False  False         False           False          False
658    False   False   True         False           False          False
659    False   False  False         False           False          False

      Mins  Goals     xG  xG Per Avg Match  Shots  OnTarget  \
0    False  False  False             False  False     False
1    False  False  False             False  False     False
2    False  False  False             False  False     False
3    False  False  False             False  False     False
4    False  False  False             False  False     False
..     ...    ...    ...               ...    ...       ...
655  False  False  False             False  False     False
656  False  False  False             False  False     False
657  False  False  False             False  False     False
658  False  False  False             False  False     False
659  False  False  False             False  False     False

     Shots Per Avg Match  On Target Per Avg Match   Year
0                  False                    False  False
1                  False                    False  False
2                  False                    False  False
3                  False                    False  False
4                  False                    False  False
..                   ...                      ...    ...
655                False                    False  False
656                False                    False  False
657                False                    False  False
658                False                    False  False
659                False                    False  False

[660 rows x 15 columns]

In [190]:
print(df.isnull().sum())

Country                     0
League                      0
Club                       34
Player Names                0
Matches_Played              0
Substitution                0
Mins                        0
Goals                       0
xG                          0
xG Per Avg Match            0
Shots                       0
OnTarget                    0
Shots Per Avg Match         0
On Target Per Avg Match     0
Year                        0
dtype: int64

In [191]:
print(df['Mins'].quantile(.99)) #which is the value below which 99% of the data in the Mins column falls.

3520.0199999999995

In [197]:
de =  df.copy()
de.head(3)

de['YEAR+==100'] = de['Year'] + 100 
de.head(2)

,Country,League,Club,Player Names,Matches_Played,Substitution,Mins,Goals,xG,xG Per Avg Match,Shots,OnTarget,Shots Per Avg Match,On Target Per Avg Match,Year,YEAR+==100
0,Spain,La Liga,(BET),Juanmi Callejon,19,16,1849,11,6.62,0.34,48,20,2.47,1.03,2016,2116
1,Spain,La Liga,(BAR),Antoine Griezmann,36,0,3129,16,11.86,0.36,88,41,2.67,1.24,2016,2116

# value counts functinon

In [198]:
df['Player Names'].value_counts()

Player Names
Lionel Messi          5
Luis Suarez           5
Fabio Quagliarella    5
Andrea Belotti        5
Robert Lewandowski    5
                     ..
Robson                1
Renato Kayzer         1
Donny van de Beek     1
Teun Koopmeiners      1
Cantalapiedra         1
Name: count, Length: 444, dtype: int64

In [ ]:
df['Player Names'].unique()

In [ ]:
df['Player Names'].nunique()

# dropna func

In [ ]:
# to delete null rows 
df.dropna(inplace=True)

# Fillna Function

In [200]:

link = 'https://raw.githubusercontent.com/AshishJangra27/Data-Analysis-with-Python-GFG/main/3.%20Data%20Preprocessing%20-%20Removing%20Null%20Value%20Rows/googleplaystore.csv'

df = pd.read_csv(link)

print(len(df))

# replacing all the null values with the mean 
mis = round(df['Rating'].mean(),2)

df['Rating'] = df['Rating'].fillna(mis)

print(len(df))

10841
10841

In [ ]:

# filling the current ver NULL values wiht the text
df['Current Ver'] = df['Current Ver'].fillna('Varies on Device')

# sample function

In [201]:
df.sample()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10614,"Ocala Star Banner, FL",NEWS_AND_MAGAZINES,4.5,75,8.1M,"5,000+",Free,0,Everyone,News & Magazines,"July 25, 2018",5.1,4.4 and up

In [203]:
data = { 'one'   : pd.Series([1, 2, 3, 4]),
         'two'   : pd.Series([10, 20, 30, 40]),
         'three' : pd.Series([100, 200, 300, 400]),
         'four'  : pd.Series([1000, 2000, 3000, 4000])}

df = pd.DataFrame(data)

df.to_csv('Number.csv', index = False)

# pANDA PROFILING

In [207]:
 
import matplotlib
import pandas_profiling as pp


df = pd.read_csv('Football.csv')
df.head()

c:\Users\aspha\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

PydanticImportError: `BaseSettings` has been moved to the `pydantic-settings` package. See https://docs.pydantic.dev/2.10/migration/#basesettings-has-moved-to-pydantic-settings for more details.

For further information visit https://errors.pydantic.dev/2.10/u/import-error