In [1]:
import requests
import pandas as pd
from tqdm import tqdm

df = pd.read_csv('images.csv')
df.head()

,img_link,tags,likes,comments
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,55
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,20
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,106
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,11
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,15

### 1. Difining Dynamic Name

In [2]:
ref = 100000000
for i in range(1,11):  
    print('A' + str(i + ref)[1:])

A00000001
A00000002
A00000003
A00000004
A00000005
A00000006
A00000007
A00000008
A00000009
A00000010

### 2. Defining Image Downloader Function

In [3]:
def download(link, img_path ):

    res = requests.get(link)         # Sending the Request
    fd = open(img_path,'wb')         # Getting Image in WB Format
    fd.write(res.content)            # Saving the Image
    fd.close()

### 3. Downloading all Images

In [4]:
def download(link, img_path ):

    res = requests.get(link)         # Sending the Request
    fd = open(img_path,'wb')         # Getting Image in WB Format
    fd.write(res.content)            # Saving the Image
    fd.close()
paths   = []
img_ids = []

ref = 100000000
i   = 1

for link in tqdm(df['img_link']):
    
    img_id = 'A' + str(i + ref)[1:]          # Creating Image ID
    i += 1
    try:
        img_path = 'Imgs/' + img_id + '.jpg'    # Creating Image Path
    except:
        pass
    download(link, img_path)                # Downloading the Image
    
    paths.append(img_path)
    img_ids.append(img_id)

100%|██████████| 529/529 [00:27<00:00, 19.24it/s]

### 4. Saving Ids and Paths in DataFrame

In [5]:
df['img_id']   = img_ids
df['img_path'] = paths

df.head()

,img_link,tags,likes,comments,img_id,img_path
0,https://cdn.pixabay.com/photo/2022/03/06/05/30...,"Clouds, Sky, Atmosphere, Blue Sky",196,55,A00000001,Imgs/A00000001.jpg
1,https://cdn.pixabay.com/photo/2022/04/07/11/45...,"Bird, Ornithology, Hummingbird",76,20,A00000002,Imgs/A00000002.jpg
2,https://cdn.pixabay.com/photo/2022/02/28/15/28...,"Sea, Rainbow, Rainfall, Subtropical",282,106,A00000003,Imgs/A00000003.jpg
3,https://cdn.pixabay.com/photo/2022/04/04/02/52...,"Cherry Blossoms, Road, Japan, Sakura",42,11,A00000004,Imgs/A00000004.jpg
4,https://cdn.pixabay.com/photo/2022/04/09/18/06...,"Cape Marguerite, Flower, Plant",39,15,A00000005,Imgs/A00000005.jpg

### 5. Saving Final Dataset

In [6]:
df.to_csv('imgs.csv', index = False)