In [1]:
import os
import pandas as pd
from tqdm import tqdm
from shutil import copyfile as copy

df = pd.read_csv('final.csv')
df.head()

                                   tags                path
0     Clouds, Sky, Atmosphere, Blue Sky  Imgs/A00000000.jpg
1        Bird, Ornithology, Hummingbird  Imgs/A00000001.jpg
2   Sea, Rainbow, Rainfall, Subtropical  Imgs/A00000002.jpg
3  Cherry Blossoms, Road, Japan, Sakura  Imgs/A00000003.jpg
4        Cape Marguerite, Flower, Plant  Imgs/A00000004.jpg

### 1. Remove Unnecessary Columns

In [2]:
# del df['img_link']
# del df['img_id']
# del df['likes']
# del df['comments']

df.head()

                                   tags                path
0     Clouds, Sky, Atmosphere, Blue Sky  Imgs/A00000000.jpg
1        Bird, Ornithology, Hummingbird  Imgs/A00000001.jpg
2   Sea, Rainbow, Rainfall, Subtropical  Imgs/A00000002.jpg
3  Cherry Blossoms, Road, Japan, Sakura  Imgs/A00000003.jpg
4        Cape Marguerite, Flower, Plant  Imgs/A00000004.jpg

### 2. Finding all the tags

In [6]:
t = []

for tags in df['tags'].fillna(''):  # Replace NaN with empty string
    t += [tag.strip() for tag in tags.split(',')]

tags = list(set(t))

### 3. Creating Folders for each Tag

In [7]:
for tag in tqdm(tags):
    
    try:
        os.mkdir('Dataset/' + tag)
    except:
        pass

100%|██████████| 64096/64096 [00:01<00:00, 41449.65it/s]

### 4. Saving Images in Specific Folders

In [9]:
from shutil import copy
from tqdm import tqdm

error = 0

for data in tqdm(df.values[1:]):  # Skip the first row

    tags = str(data[0])  # Convert to string to avoid 'float' error
    tags = ['Dataset/' + tag.strip() + '/' for tag in tags.split(',')]  # Split and format tags
    
    src = data[1]
    
    for tag in tags:
        dst = tag + src.split('/')[-1]  # Construct destination path
        
        try:
            copy(src, dst)  # Try copying the file
        except Exception as e:  # Catch any exceptions and log the error
            error += 1
            # print(f"Error copying from {src} to {dst}: {e}")

# After the loop, print the error count
print(f"Total errors encountered: {error}")

100%|██████████| 205865/205865 [01:05<00:00, 3139.95it/s]

Total errors encountered: 872172

### 5. Checking Number of Folders

In [10]:
folders = os.listdir('Dataset')

print(len(folders))

63978

### 6. Checking number of Images in Each Folder

In [11]:
folder_ = []
freq    = []

for folder in tqdm(folders):
    
    try:
        freq.append(len(os.listdir('Dataset/' + folder)))
        folder_.append(folder)

    except:
        pass

100%|██████████| 63978/63978 [00:02<00:00, 24334.53it/s]

### 7. Top 10 Folders with most number of Images

In [12]:
df_ = pd.DataFrame()

df_['folder'] = folder_
df_['freq']   = freq

df_.sort_values(by = 'freq', ascending = False).head(10)

        folder  freq
37424   Nature    24
20532  Flowers    18
20331   Flower    15
5759      Bird    14
62163   Winter    10
2086    Animal     9
52162   spring     9
6414     Bloom     8
48884      Sea     8
46510     Road     8

### 8. Top 10 Folders with least number of Images

In [13]:
df_.sort_values(by = 'freq', ascending = True).head(10)

                                                  folder  freq
0                                              #billeder     0
1      &quot;All we are saying is give peace a chance...     0
2      &quot;Gray wagtail&quot; found in rivers and m...     0
3         &quot;Kentish plover&quot; living on the beach     0
4                           &quot;Natural Monument&quot;     0
5      &quot;Sand crab&quot; that lives in a burrow o...     0
63742                                          Zucchinis     0
7                                                 000 ft     0
8                                              02-Series     0
9                                                    072     0

### 9. How many folders are having images more than 50

In [25]:
df_[df_['freq'] >= 10]

        folder  freq
5759      Bird    14
20331   Flower    15
20532  Flowers    18
37424   Nature    24
62163   Winter    10

### 10. Removing the Folders with less than 50 Images

In [18]:
import shutil
for i in tqdm(df_[df_['freq'] < 4]['folder']):
    
    
    src = 'Dataset/' + i
    dst = 'Temp/' + i
    
    shutil.move(src, dst)

100%|██████████| 63944/63944 [01:02<00:00, 1026.53it/s]

In [ ]:
df = pd.read_csv('final.csv')

# del df['img_link']
# del df['img_id']
# del df['likes']
# del df['comments']

df.to_csv('final.csv', index = False)

In [21]:
df.head()

                                   tags                path
0     Clouds, Sky, Atmosphere, Blue Sky  Imgs/A00000000.jpg
1        Bird, Ornithology, Hummingbird  Imgs/A00000001.jpg
2   Sea, Rainbow, Rainfall, Subtropical  Imgs/A00000002.jpg
3  Cherry Blossoms, Road, Japan, Sakura  Imgs/A00000003.jpg
4        Cape Marguerite, Flower, Plant  Imgs/A00000004.jpg