In [4]:
import pandas as pd 
import numpy as np 


data = pd.read_csv('googleplaystore.csv')

df = data.dropna()

df.head(2)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up

In [5]:
(sum(df["Rating"]))

39235.6

In [10]:
str(int(sum(df["Rating"]))/ 9360)

'4.191773504273504'

In [6]:


avg =float(str(int(sum(df["Rating"]))/ len(df["Rating"])))  # avg
avg

4.191773504273504

# Q2. How many apps are there with rating 5?

In [7]:
totRatingCount = (df["Rating"] == 5.0).sum()
totRatingCount

np.int64(274)

# Q3. How many apps are there with rating between 4 - 4.5?

In [8]:
c = 0

for i in data['Rating']:
    if (i >= 4.0 and i <= 4.5):
        c += 1
        
print("There are",c,'apps with rating between 4 - 4.5')

There are 5451 apps with rating between 4 - 4.5

# Q4. Average App Reviews

In [9]:
data['Reviews'].isnull().sum()

np.int64(0)

In [10]:
s = 0
for i in data['Reviews']:
    s += i
    
print(s/len(data['Reviews']))

TypeError: unsupported operand type(s) for +=: 'int' and 'str'

# Total Number of Unique Categories

In [12]:
data['Category'].unique()
len(data['Category'].unique())

34

# Total apps in art and design

In [15]:
c = 0
for i in df['Category']:
    if(i == 'ART_AND_DESIGN'):
        c += 1
print("There are total",c,'application in ART_AND_DESIGN')

There are total 61 application in ART_AND_DESIGN

# Q3. Total number of App-Types

In [17]:
data['Type'].unique()

array(['Free', 'Paid', nan, '0'], dtype=object)

# Q4. Total number of Paid and Free Apps

In [19]:
f = 0
for i in df['Type']:
    if(i == 'Free'):
        f += 1
print("There are total",f,'free and',end=' ')

p = 0
for i in df['Type']:
    if(i == 'Paid'):
        p += 1
print("and",p,'paid applications')

There are total 8715 free and and 645 paid applications

# Q5. Percentage of free apps in the dataset

In [20]:
print(int(f /(f + p)*100),"% applications are free")

93 % applications are free

# Q6. Name all the Content Ratings

In [21]:
for i in df['Content Rating'].unique():
    print(i)

Everyone
Teen
Everyone 10+
Mature 17+
Adults only 18+
Unrated

# Q7. No of apps in categories

In [26]:
categories = {}

for name in df['Category'].unique():
    cnt =0
    for i in df["Category"]:
        if(i==name):
            cnt+=1
    categories[name] = cnt

categories

{'ART_AND_DESIGN': 61,
 'AUTO_AND_VEHICLES': 73,
 'BEAUTY': 42,
 'BOOKS_AND_REFERENCE': 178,
 'BUSINESS': 303,
 'COMICS': 58,
 'COMMUNICATION': 328,
 'DATING': 195,
 'EDUCATION': 155,
 'ENTERTAINMENT': 149,
 'EVENTS': 45,
 'FINANCE': 323,
 'FOOD_AND_DRINK': 109,
 'HEALTH_AND_FITNESS': 297,
 'HOUSE_AND_HOME': 76,
 'LIBRARIES_AND_DEMO': 64,
 'LIFESTYLE': 314,
 'GAME': 1097,
 'FAMILY': 1746,
 'MEDICAL': 350,
 'SOCIAL': 259,
 'SHOPPING': 238,
 'PHOTOGRAPHY': 317,
 'SPORTS': 319,
 'TRAVEL_AND_LOCAL': 226,
 'TOOLS': 733,
 'PERSONALIZATION': 312,
 'PRODUCTIVITY': 351,
 'PARENTING': 50,
 'WEATHER': 75,
 'VIDEO_PLAYERS': 160,
 'NEWS_AND_MAGAZINES': 233,
 'MAPS_AND_NAVIGATION': 124}

In [27]:
df['Reviews'].describe()

count     9360
unique    5990
top          2
freq        83
Name: Reviews, dtype: object