In [100]:
fruits = ["apple", "banana","orange"]
x ,y , z= fruits
# print(x,y,z)

h = 0+2j
# print(type(h),h)

x = range(3) 
# print(x) 

twople = (1,2,3,4,5,5)
 


 #all string operations 
a = '''this is a multiline string '''
print('this' not in a)
print(a[-7 : -2])
a.upper()
a.lower()
a.capitalize()
a.title()
a.strip()
a.replace('t','tt')
print(a.split(" "))
print("fasfds" , 'asf',  sep='+')
print(f"{a}")
print(bool(None))


listt = [1,2,3,4,'true',True,"apple"]
# listt.append('324')
# listt.extend([1,3,4]) 
# print(len(listt))
#inserting in list 
listt[5:6] = ["newentrue","enwentrio"]
listt.insert(1,'first')
print(listt)
#list concatenation 
# print([i for i in range(1,3)])
#list constructor 
# print(list(a))

#list removinhg 
listt.remove("true")
listt.count(1)
listt.pop(1) #first ele or any ele 
#del keyword
listt.clear()


fruits = ['apple', 'banana', 'cherry']
x = fruits.index("cherry")

l = [1,5,4,23,2]
l.sort(reverse=True)
print(l)

newlist = l.copy()

False
strin
['this', 'is', 'a', 'multiline', 'string', '']
fasfds+asf
this is a multiline string
False
[1, 'first', 2, 3, 4, 'true', 'newentrue', 'enwentrio', 'apple']
[23, 5, 4, 2, 1]

In [68]:

#tuples 
#tuples cna be added to tuples though
tup = (1,2,4,1) 
# del tup
print(tup.count(1))

# rest all opeartions are available by converting it to a list

2

In [75]:
#set 
thisset = {"apple", "banana", "cherry"}
#set constructor 
thisset.add("orange")

print(thisset)

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)
print(thisset)
# thisset.clear()

thisset.discard("banana")
thisset.pop() # this will remove a random item 

#set operations 
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.union(set2)
set5 = set1.intersection(set2)
set4 =  set1.symmetric_difference(set2)
print(set4)

{'apple', 'cherry', 'orange', 'banana'}
{'mango', 'papaya', 'banana', 'apple', 'pineapple', 'cherry'}
{'google', 'banana', 'cherry', 'microsoft'}

In [86]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)
print(thisdict.get("name"))
print(thisdict.keys())
print(thisdict.values())
thisdict["phoneno"] = "9123"
thisdict.update({"name" : "john"})
thisdict.pop("country")
# del thisdict["model"]
print(thisdict)
newDict = thisdict.copy()

{'name': 'John', 'age': 36, 'country': 'Norway'}
John
dict_keys(['name', 'age', 'country'])
dict_values(['John', 36, 'Norway'])
{'name': 'john', 'age': 36, 'phoneno': '9123'}

In [110]:
print([ [y for y in range(3)]  for x in range(4)])

[[0, 1, 2], [0, 1, 2], [0, 1, 2], [0, 1, 2]]