# Downloading all images from csv first

In [26]:
import requests
import pandas as pd 
from tqdm import tqdm
df = pd.read_csv('data.csv')
df.head()
path = []
for link in tqdm(df['link']):
    res = requests.get(link)
    
    fd = open('Imgs/'+link.split('/')[-1], 'wb')
    fd.write(res.content)
    fd.close()
    
    path.append('Imgs/'+link.split('/')[-1])

100%|██████████| 48/48 [00:02<00:00, 18.95it/s]

In [43]:
import os
import pandas as pd
from tqdm import tqdm
from shutil import copyfile as copy

df = pd.read_csv('final.csv')
df.head()

                                   tags                path
0     Clouds, Sky, Atmosphere, Blue Sky  Imgs/A00000000.jpg
1        Bird, Ornithology, Hummingbird  Imgs/A00000001.jpg
2   Sea, Rainbow, Rainfall, Subtropical  Imgs/A00000002.jpg
3  Cherry Blossoms, Road, Japan, Sakura  Imgs/A00000003.jpg
4        Cape Marguerite, Flower, Plant  Imgs/A00000004.jpg

In [46]:
t = []

for tags in df['tags']:
    
    t += [tag.strip() for tag in tags.split(',')]

tags = list(set(t))

AttributeError: 'float' object has no attribute 'split'

# creating folder

In [35]:
for tag in tqdm(tags):
    try:
        os.mkdir('Dataset/' + tag)
    except:
   	    pass

100%|██████████| 64096/64096 [00:01<00:00, 56759.88it/s]

# Copying all the images to theirr respective tag folders created as above

In [38]:
#Saving images in specific folders
import os
from shutil import copyfile as copy
error = 0
for data in tqdm(df.values):  
    tags = data[0]
    if isinstance(tags, str): 
        tags = ['Dataset/' + tag.strip() + '/' for tag in tags.split(',')] 
        src = data[1]
        for i in tags:
            dst = i + src.split('/')[-1]
            try:
                copy(src, dst)
                print(src)
                print(dst)
                print("*"*40)
            except:
                error += 1

100%|██████████| 205866/205866 [00:48<00:00, 4208.79it/s]

# chceking folders

In [41]:
import os
import pandas as pd
from tqdm import tqdm
from shutil import copyfile as copy

folders = os.listdir('Dataset')

print(len(folders))
folder_ = []
freq    = []

for folder in tqdm(folders):
    
    try:
        freq.append(len(os.listdir('Dataset/' + folder)))
        folder_.append(folder)

    except:
        pass

63977

100%|██████████| 63977/63977 [00:03<00:00, 17870.32it/s]

In [42]:
df_ = pd.DataFrame()

df_['folder'] = folder_
df_['freq']   = freq

df_.sort_values(by = 'freq', ascending = False).head(10)

                                                  folder  freq
63976                                                  ？     0
0                                              #billeder     0
1      &quot;All we are saying is give peace a chance...     0
2      &quot;Gray wagtail&quot; found in rivers and m...     0
3         &quot;Kentish plover&quot; living on the beach     0
4                           &quot;Natural Monument&quot;     0
5      &quot;Sand crab&quot; that lives in a burrow o...     0
6      (Sturnus vulgaris)​ es una especie de ave pass...     0
7                                                 000 ft     0
63960                                                 거창     0