In [2]:
import pandas as pd 
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv('AB_NYC_2019 (1).csv')

In [7]:
df.head(3)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365

In [10]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)

In [11]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,19-10-2018,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,21-05-2019,0.38,2,355
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,05-07-2019,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,19-11-2018,0.10,1,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,7322,Chris,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,22-06-2019,0.59,1,129

In [13]:
df["id"]=df["id"].astype(str)
df["host_id"]=df["host_id"].astype(str)
df["latitude"]=df["latitude"].astype(str)
df["longitude"]=df["longitude"].astype(str)

In [15]:
df.describe()

,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,38821.000000,38821.000000,38821.000000,38821.000000,38821.000000,38821.000000
mean,142.332526,5.869220,29.290255,1.373229,5.166611,114.886299
std,196.994756,17.389026,48.182900,1.680328,26.302954,129.529950
min,0.000000,1.000000,1.000000,0.010000,1.000000,0.000000
25%,69.000000,1.000000,3.000000,0.190000,1.000000,0.000000
50%,101.000000,2.000000,9.000000,0.720000,1.000000,55.000000
75%,170.000000,4.000000,33.000000,2.020000,2.000000,229.000000
max,10000.000000,1250.000000,629.000000,58.500000,327.000000,365.000000

# Categorical Data

In [16]:
df.nunique()

id                                38821
name                              38244
host_id                           30232
host_name                          9885
neighbourhood_group                   5
neighbourhood                       218
latitude                          17436
longitude                         13639
room_type                             3
price                               581
minimum_nights                       89
number_of_reviews                   393
last_review                        1764
reviews_per_month                   937
calculated_host_listings_count       47
availability_365                    366
dtype: int64

In [17]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [18]:
df["room_type"].value_counts()

room_type
Entire home/apt    20321
Private room       17654
Shared room          846
Name: count, dtype: int64

In [19]:
df["room_type"].value_counts(normalize = True)

room_type
Entire home/apt    0.523454
Private room       0.454754
Shared room        0.021792
Name: proportion, dtype: float64

In [20]:
df["neighbourhood_group"].value_counts()

neighbourhood_group
Manhattan        16621
Brooklyn         16439
Queens            4572
Bronx              875
Staten Island      314
Name: count, dtype: int64

# Numerical Data

In [21]:
df["price"].value_counts(bins = 5)
# entire range gets divided into 5 quaters and shows values in there

(-10.001, 2000.0]    38786
(2000.0, 4000.0]        20
(4000.0, 6000.0]         8
(8000.0, 10000.0]        5
(6000.0, 8000.0]         2
Name: count, dtype: int64

# Custom bins

In [22]:
bins = [-10,0, 50,100, 200,500,800,2000,4000,10000]
df["price"].value_counts(bins = bins)

(50.0, 100.0]        14212
(100.0, 200.0]       13544
(200.0, 500.0]        5267
(0.0, 50.0]           5166
(500.0, 800.0]         404
(800.0, 2000.0]        183
(2000.0, 4000.0]        20
(4000.0, 10000.0]       15
(-10.001, 0.0]          10
Name: count, dtype: int64

# Measures of central tendency

In [23]:
df["price"].mean()

np.float64(142.33252621004095)

In [24]:
df["price"].median()

np.float64(101.0)

In [25]:
df["price"].std()

np.float64(196.9947559183469)

In [26]:
df["minimum_nights"].mean()

np.float64(5.869220267381056)

In [27]:
df["minimum_nights"].median()

np.float64(2.0)

# Measure of Spread

In [28]:
df["price"].skew()
#Skewness is a measure of the asymmetry of the data distribution around the mean.
# Positive Skew (Right Skew): If the skewness value is positive, the distribution has a longer tail on the right side. In other words, most of the data points are concentrated on the lower end of the distribution, and there are a few larger values that pull the mean to the right. This is often seen in income, house prices, etc., where a small number of high values push the mean higher than the median.

# Negative Skew (Left Skew): If the skewness value is negative, the distribution has a longer tail on the left side. Most of the data points are concentrated on the higher end, with a few very low values that pull the mean to the left.

# Zero Skew: If the skewness is close to 0, the distribution is approximately symmetric (a normal distribution has a skewness of 0). This means the mean, median, and mode are roughly the same.

np.float64(23.673594295123014)

In [29]:
df["price"].kurt()


# Kurtosis > 3 (Leptokurtic Distribution):
# If the kurtosis is greater than 3, it indicates that the distribution has heavy tails and a sharp peak. This is known as a leptokurtic distribution. In other words, the distribution has outliers or extreme values that are far from the mean. There are more values in the tails than in a normal distribution.

# The standard normal distribution has a kurtosis of 3. However, in many software tools (like pandas), kurtosis is often reported as excess kurtosis, where a normal distribution has a kurtosis of 0 (i.e., kurtosis = 3 - 3).

# Kurtosis = 3 (Mesokurtic Distribution):
# If the kurtosis is exactly 3 (or excess kurtosis is 0), the distribution is considered mesokurtic, which means it has a normal shape (similar to the bell curve), with moderate tails and a moderate peak. It doesn't have too many outliers.

# Kurtosis < 3 (Platykurtic Distribution):
# If the kurtosis is less than 3, it indicates that the distribution has lighter tails and a flatter peak compared to a normal distribution. This is known as a platykurtic distribution. It means there are fewer extreme values (outliers), and the data is more evenly spread out.

np.float64(953.4807356344944)

In [32]:
df[df["availability_365"]==365].shape[0]

841

In [33]:
df.corr()

ValueError: could not convert string to float: 'Clean & quiet apt home by the park'